* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    
    font-weight: 300;
    font-size: 1.25rem;
}

h1 {
    font-size: 2rem;
}

#content {
    margin: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content > div {
    margin-top: 2rem;
}

#controls button {
    font-size: 1rem;
    border: 2px solid transparent;
    padding: 0.8rem 3rem;
    background-color: beige;
    transition: 0.2s;
}

#controls button:hover {
    transform: translateY(4px);
    background-color: midnightblue;
    color: white;
}

#books {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.book-card {
    margin-bottom: 2rem;
    border: 1px solid lightgrey;
    border-radius: 12px;
    flex: 1;
    display: grid; 
    grid-template: 1fr / 1fr 4fr 1fr;
    gap: 1rem;
    transition: 0.2s;
}

.book-card:hover {
    border: 1px solid black;
}

.book-card > div {
    padding: 2rem 2rem;
    border-radius: 12px;
}

.book-card-image {
    background-color:beige;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    transition: 0.2s;
}

.book-card-image img {
    width: 100%;
    height: auto;
    transition: 0.2s;
}

.book-card:hover .book-card-image {
    background-color: midnightblue;
}

.book-card:hover .book-card-image img {
    filter: invert();
}

.book-card-info-author {
    color: grey;
    font-size: 0.9rem;
}

.book-card-info-pages {
    color: grey;
    font-size: 0.6rem;
    margin-top: 1rem;
}

.book-card-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid lightgrey;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    padding: 0 !important;
    overflow: hidden;
    opacity: 0.2;
    transition: 0.2s;
    filter: grayscale(100%);
}

.book-card:hover .book-card-controls {
    filter: grayscale(0%);
    opacity: 1;
}

.book-card-controls div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-card-controls div img {
    height: 50%;
    width: auto;
}

.book-delete-btn {
    background-color: red;
}

.book-read {
    background-color: aquamarine;
}

.book-not-read {
    background-color: lightgrey;
}

body {
    position: relative;
}

#alert-box {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 25vw;
    display: flex;
    flex-direction: column;
    max-height: 31vh;
    overflow: hidden;
}

.alert {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.5s;
}
.alert-message {
    font-size: 0.65rem;
    flex-grow: 1;
}

.alert-icon img {
    height: 40px;
    width: auto;
}
.alert-icon {
    width: 60px;
    flex-grow: 0;
}

.alert-info {
    border: 1px solid teal;
    background-color: aquamarine;
}

.alert-success {
    border: 1px solid green;
    background-color: seagreen;
    color: white;
}

.alert-error {
    border: 1px solid black;
    color: white;
    background-color: red;
}
.alert-error::before {
    filter: invert();
}

.hidden {
    opacity: 0;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}

dialog#add-new-book {
    margin-top: 5vh;
    margin-left: 30vw;
    border: 2px solid green;
    width: 40vw;
}

.form-field {
    margin-top: 2rem;
}


.form-field label {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 0.2rem;
}

.form-field input[type='text'], .form-field input[type='number'] {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 0.25rem 1rem;
    width: 100%;
}

.form-field input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.flex-y-center {
    display: flex; 
}

.form-field label.same-line {
    margin-left: 0.8rem;
    font-size: 1rem;
}

.form-buttons {
    display: flex;
    gap: 1rem;
}

#add-new-book .button {
    flex-grow: 1;
    margin-top: 1rem;
    border: 0px;
    background-color: midnightblue;
    padding: 0.6rem 2rem;
    color: white;
}